/build
/src/androidTest/java/com/example/sampleapplication/
/src/test/java/com/example/sampleapplication/
/src/main/res/raw/*
/src/main/res/drawable/bart.png
/src/main/res/drawable/game_board.png
/src/main/res/drawable/player2.png
/src/main/res/drawable/img.png
/src/main/res/drawable/homer.png
/src/main/res/drawable/player1.png
